<ion-view title="Check-in" hide-nav-bar="true" hide-back-button="true" id="page1" class=" " style = "background-image:url(img/background/colbalt.png)">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <img style="width:99%;" src="img/name.png"/>
        <div style="width:250px; height:250px; display:block; background-color:#506EFF; border-radius:100%; margin-top: 5px; margin: auto auto;"><img style=" height:150px; width:150px; display: inline-block; margin-left: 50px; margin-top:50px;" src="img/location/arts.png"></div>
        <h2 style=" color:white; text-align: center;"> Arts </h2>
        <h2> {{ latlon }} </h2>
        <a ui-sref="currentLocation" id="checkIn-button1" class=" button button-positive  button-block ">Check In </a>
    </ion-content>
</ion-view>