<ion-view title="Credits" hide-nav-bar="true" hide-back-button="true" id="page8" class=" " style = "background-image:url(img/background/blue.png)">
	<button class="button button-positive" ng-click="openPopover($event)" style="display: inline-block; margin-top: 15px; margin-left:15px;">Menu</button>
	<img style="display: inline-block; float:right; height:45px;  margin-top: 15px;  margin-right: 15px;" src="img/christmas-lollipop.png">
	<div style="display: inline-block; float:right; font-size:40px; margin-top:25px;">Credits</div>
	<script id="my-popover.html" type="text/ng-template">
		<style>.popover {height:280px; width: 280px; background-color: #fbfdfd;}</style>
		<ion-popover-view>
			<ion-content>
				<div class = "row">
					<div style="width: 5px;"></div>
					<a ui-sref="items" id="menu-button5" ng-click="closePopover($event)"><img src="img/menu/Items.png" style="width: 80px; height: 80px;"/></a>
					<div style="width: 10px;"></div>
					<a ui-sref="skills" id="menu-button7" ng-click="closePopover($event)"><img src="img/menu/Character.png" style="width: 80px; height: 80px;"/></a>
					<div style="width: 10px;"></div>
					<a ui-sref="currentLocation" id="menu-button4" ng-click="closePopover($event)"><img src="img/menu/stats.png" style="width: 80px; height: 80px;"/></a>
				</div>
				<div class = "row">
					<div style="width: 5px;"></div>
					<a ui-sref="pvP" id="menu-button9" ng-click="closePopover($event)"><img src="img/menu/Battle.png" style="width: 80px; height: 80px;"/></a>
					<div style="width: 10px;"></div>
					<a ui-sref="checkIn" id="menu-button3" ng-click="closePopover($event)"><img src="img/menu/location.png" style="width: 80px; height: 80px; "/></a>
					<div style="width: 10px;"></div>
					<a ui-sref="boss" id="menu-button6" ng-click="closePopover($event)"><img src="img/menu/Boss.png" style="width: 80px; height: 80px;"/></a>
				</div>
				<div class = "row">
					<div style="width: 5px;"></div>
					<a ui-sref="settings" id="menu-button8" ng-click="closePopover($event)"><img src="img/menu/Settings.png" style="width: 80px; height: 80px;"/></a>
					<div style="width: 10px;"></div>
					<a ui-sref="blank" id="menu-button11" ng-click="closePopover($event)"><img src="img/menu/Disclaimer.png" style="width: 80px; height: 80px;"/></a>
					<div style="width: 10px;"></div>
					<a ui-sref="credits" id="menu-button10" ng-click="closePopover($event)"><img src="img/menu/Credits.png" style="width: 80px; height: 80px;"/></a>
				</div>
			</ion-content>
		</ion-popover-view>
	</script>
	<ion-content padding="false" class="has-footer" style=" margin-top: 80px; margin-right: 5px;  margin-left: 5px;">
		<div style="border-radius:8px; background-color:rgba(255, 255, 255, 0.5); border: 3px solid #2A0080; padding:8px;">
			<h5>thanks to the following peeps^ ^</h5>
		</div>
	</ion-content>
</ion-view>