<ion-view title="Menu" hide-nav-bar="true" hide-back-button="true" id="page10" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <a ui-sref="checkIn" id="menu-button3" class=" button button-positive  button-block ">Check in</a>
        <a ui-sref="currentLocation" id="menu-button4" class=" button button-positive  button-block ">Current Location</a>
        <a ui-sref="items" id="menu-button5" class=" button button-positive  button-block ">Items</a>
        <a ui-sref="boss" id="menu-button6" class=" button button-positive  button-block ">Boss</a>
        <a ui-sref="skills" id="menu-button7" class=" button button-positive  button-block ">Skills</a>
        <a ui-sref="settings" id="menu-button8" class=" button button-positive  button-block ">Settings</a>
        <a ui-sref="pvP" id="menu-button9" class=" button button-positive  button-block ">PvP</a>
        <a ui-sref="credits" id="menu-button10" class=" button button-positive  button-block ">Credits</a>
        <a ui-sref="blank" id="menu-button11" class=" button button-positive  button-block ">Blank</a>
    </ion-content>
</ion-view>